GOOGLE_SERVICE_ACCOUNT_JSON=   # JSON da service account em base64
GOOGLE_IMPERSONATE_EMAIL=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=sa-east-1
AWS_BUCKET_NAME=
TASK_MANAGER_BUCKET=follow-task-manager
ORG_ID=followpartners
